* {
    padding: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
}

.sidebar {
    height: 100%;
    width: 225px;
    background-color: #ececec;
    display: inline-block;
    z-index: 1000;
    position: fixed;
}

.sidebar-logo-wrapper {
    width: 100%;
    padding: 20px 0 0 0;
}

.sidebar-logo {
    height: 50px; 
    width: 150px;
    background: url(../img/logo.png) no-repeat center;
    background-size: contain; 
    margin: auto;
}

.sidebar-divider {
    height: 1px;
    width: 150px;
    background-color: #cccccc;
    margin: auto;
}

.sidebar-location-wrapper {
    width: 100%;
    padding: 20px 0 20px 0;
}

.sidebar-location {
    height: 30px;
    width: 150px;
    margin: auto;
}

.sidebar-location-text {
    height: 100%;
    background: url(../img/location.png) no-repeat left center;
    background-size: contain;
    color: #a0a0a0;
    line-height: 30px;
    padding: 0 0 0 40px; 
}

.sidebar-nav-wrapper {
    width: 100%;
    padding: 10px 0 0 0;
}

.sidebar-nav {
    height: auto;
    width: 150px;
    margin: auto;    
} 

.sidebar-nav-button-wrapper {
    padding: 10px 0 0 0;
}

.sidebar-nav-button {
    height: 30px; 
}

.sidebar-nav-button-icon {
    height: 30px;
    width: 30px;
    display: inline-block;
    background-size: contain; 
}

#now-icon {
    background: url(../img/clock.png) no-repeat left center;
    background-size: contain; 
}

#today-icon {
    background: url(../img/calendar-day.png) no-repeat left center;
    background-size: contain; 
}

#tomorrow-icon {
    background: url(../img/calendar-day.png) no-repeat left center;
    background-size: contain; 
}

#choose-date {
    background: url(../img/calendar-month.png) no-repeat left center;
    background-size: contain; 
}

.sidebar-nav-button-text {
    height: 100%;
    color: #a0a0a0;
    line-height: 33px;
    padding: 0 0 0 40px;
}

#content {
    margin-top: 5%;
}

tr {
    border-top: 1px solid #eaeaea;
}

tr:last-child {
    border-bottom: 1px solid #eaeaea;
}

.filmDateTableFilmTimetableItem {
    display: inline-block;
}

.film-genre {
    color: dimgrey;
    font-size: 10px;
}

tr {
    height: auto;
}

table,
tbody,
tr {
    width: 100%;
}

.filmDateTableFilmImage {
    width: 58px;
}

.nav-bottom-bar-button-active {
    border: 1px solid rgba(0,0,0,.1);
}

.loader {
    background: none repeat scroll 0 0 #ffffff;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    padding-bottom: 50px;
    display: inline-block;
}

.loader .loader-inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -80px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute;
    display: none;
}

a {
    text-decoration: none;
}

.nav-popup-menu {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 200;
    background-color: floralwhite;
}

.nav-popup-menu-button {
    width: 100%;
    padding: 5px 0 5px;
    text-align: center;
}

.list-date {
    width: 100%;
    text-align: center;
}

.film-popup {
    top: 30px;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 700;
    background-color: floralwhite;
    overflow-y: scroll;
}

.film-popup-back {
    height: 30px;
    background-color: bisque;
    text-align: center;
    width: 100%;
    top: 0;
    position: fixed;
}